/* -------------
NEW ON GTK 3.18
---------------*/

.sidebar-item {
  padding: 10px 4px; }
  .sidebar-item > Gtklabel {
    padding-left: 6px;
    padding-right: 6px; }
  .sidebar-item.needs-attention > Gtklabel {
    background-size: 6px 6px, 0 0; }

GtkSidebarRow.list-row {
  padding: 0px; }
GtkSidebarRow .sidebar-revealer {
  padding: 1px 14px 1px 12px; }
GtkSidebarRow .sidebar-icon:dir(ltr) {
  padding-right: 8px; }
GtkSidebarRow .sidebar-icon:dir(rtl) {
  padding-left: 8px; }
GtkSidebarRow .sidebar-label:dir(ltr) {
  padding-right: 2px; }
GtkSidebarRow .sidebar-label:dir(rtl) {
  padding-left: 2px; }


.sidebar-button.button.image-button {
  padding: 3px;
  border-radius: 0;
  box-shadow: 0px 0px 0px alpha(@dark_shadow,0)}
.sidebar-button.button:not(:hover):not(:active) > GtkImage {
  opacity: 0.5; }

.sidebar-item {
  padding: 10px 4px; }
  .sidebar-item > GtkLabel {
    padding-left: 6px;
    padding-right: 6px; }
  .sidebar-item.needs-attention > GtkLabel {
    background-size: 6px 6px, 0 0; }

/*******
 * CSD *
 *******/
.titlebar {
    border-radius: 0;
    background-color: @theme_bg_color;
    background-image: none;
    color: mix(@theme_fg_color, @theme_bg_color, 0.1);
    text-shadow: none;
}

.titlebar.default-decoration {
    border: none;
    box-shadow: none;
}

.tiled .titlebar {
    border-radius: 0;
}

.maximized .titlebar {
    border-radius: 0;
}

/* this is the default titlebar that is added by GTK
 * when client-side decorations are in use and the application
 * did not set a custom titlebar.
 */
.titlebar.default-decoration {
    border: none;
    box-shadow: none;
}

.titlebar .title {
    font: bold;
}

.titlebar:backdrop {
    background-image: none;
    background-color: @theme_bg_color;
    color: mix(@theme_fg_color, @theme_bg_color, 0.4);
    text-shadow: none;
}

.titlebar .titlebutton {
    padding: 4px;
    border-style: solid;
    border-radius: 0px;
    background: none;
    color: @theme_fg_color;
    icon-shadow: none;
}

.titlebar .titlebutton:hover,
.titlebar .titlebutton:hover:focus {
    background: none;
    color: @theme_selected_bg_color;
}

.titlebar .titlebutton:active,
.titlebar .titlebutton:active:hover {
    background: none;
    color: @theme_selected_bg_color;
    box-shadow: none;
}

.titlebar .titlebutton:backdrop {
    background-image: none;
    color: shade(@theme_fg_color, 1.1);
    icon-shadow: none;
}

.window-frame {
    border-style: none;
    border-radius: 0;
    box-shadow: 0 3px 7px 1px alpha(black, 0.7),
                0 0 0 1px mix(shade(@theme_bg_color, 0.7), @theme_fg_color, 0.21);

    /* this is used for the resize cursor area */
    margin: 10px;
}

.window-frame.tiled {
    border-radius: 0;
}

.window-frame:backdrop {
    box-shadow: 0 6px 6px 1px alpha(black, 0.5),
                0 0 0 1px mix(shade(@theme_bg_color, 0.7), @theme_fg_color, 0.12);
}

/* Server-side decoration (SSD) */
.window-frame.ssd {
    border-radius: 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.18); 
}

.window-frame.ssd,
.window-frame.ssd:backdrop {
    background-color: @theme_bg_color;
}

/* Client-side Decorations (CSD)*/
.window-frame.csd.tooltip {
    border-radius: 0;
    box-shadow: none; 
}

.window-frame.csd.message-dialog {
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.13); 
}

.window-frame.solid-csd {
     border: solid 1px shade(@bg_color, 0.8);
     border-radius: 0;
     margin: 2px;
     background-color: @theme_bg_color;
     box-shadow: none; 
}

/*
.progressbar,
.progressbar row,
.progressbar row:hover,
.progressbar row:selected,
.progressbar row:selected:focused {
    border-image: linear-gradient(to top, shade(@theme_selected_bg_color, 1.0)) 12 8 12 8 / 12px 8px 12px 8px stretch;
}

.trough,
.trough row,
.trough row:hover,
.trough row:selected,
.trough row:selected:focus {
    border-image: linear-gradient(to top, shade(@theme_bg_color, 1.08)) 12 8 12 8 / 12px 8px 4px 12px stretch;
}
*/
/**************
 * over under *
 **************/

/* these elements MUST be hidden, otherwise scrolling pages will have
 * missing chunks */

.overshoot.top {
  background-image: -gtk-gradient(radial, center top, 0, center top, 0.6, from(rgba(64, 128, 251, 0.2)), to(rgba(64, 128, 251, 0)));
  background-size: 100% 60%;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: transparent;
  border: none;
  box-shadow: none; }
.overshoot.bottom {
  background-image: -gtk-gradient(radial, center bottom, 0, center bottom, 0.6, from(rgba(64, 128, 251, 0.2)), to(rgba(64, 128, 251, 0)));
  background-size: 100% 60%;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: transparent;
  border: none;
  box-shadow: none; }
.overshoot.left {
  background-image: -gtk-gradient(radial, left center, 0, left center, 0.6, from(rgba(64, 128, 251, 0.2)), to(rgba(64, 128, 251, 0)));
  background-size: 60% 100%;
  background-repeat: no-repeat;
  background-position: left center;
  background-color: transparent;
  border: none;
  box-shadow: none; }
.overshoot.right {
  background-image: -gtk-gradient(radial, right center, 0, right center, 0.6, from(rgba(64, 128, 251, 0.2)), to(rgba(64, 128, 251, 0)));
  background-size: 60% 100%;
  background-repeat: no-repeat;
  background-position: right center;
  background-color: transparent;
  border: none;
  box-shadow: none; }

.undershoot.top {
  background-color: transparent;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.2) 50%, rgba(0, 0, 0, 0.2) 50%);
  padding-top: 1px;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  background-origin: content-box;
  background-position: center top; }
.undershoot.bottom {
  background-color: transparent;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.2) 50%, rgba(0, 0, 0, 0.2) 50%);
  padding-bottom: 1px;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  background-origin: content-box;
  background-position: center bottom; }
.undershoot.left {
  background-color: transparent;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2) 50%, rgba(0, 0, 0, 0.2) 50%);
  padding-left: 1px;
  background-size: 1px 10px;
  background-repeat: repeat-y;
  background-origin: content-box;
  background-position: left center; }
.undershoot.right {
  background-color: transparent;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2) 50%, rgba(0, 0, 0, 0.2) 50%);
  padding-right: 1px;
  background-size: 1px 10px;
  background-repeat: repeat-y;
  background-origin: content-box;
  background-position: right center; }

.overlay-bar {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  padding: 3px 6px;
  margin: 3px; }
  .overlay-bar GtkLabel {
    color: @tooltip_fg_color; }

GtkTreeView .entry {
	padding: 0 6px;
}

GtkStatusbar .frame {
    border-width: 0;
}