########################################################################
# Progressbar
########################################################################

style "progressbar"
{
	GtkProgressBar ::shadow-type = GTK_SHADOW_NONE

	fg[NORMAL] = "#000"
	fg[SELECTED] = "#FFF"
	
	bg[NORMAL] = "#BCBCBC" # Color of sorted columns
	bg[SELECTED] = @selected_bg_color
	
	engine "pixmap"
	{
### Trough ###
		image
		{
			function = BOX
			detail = "trough"
			file = "progressbar/trough.png"
			border = {3, 2, 3, 2}
			stretch	= TRUE
			orientation	= HORIZONTAL
		}

		image
		{
			function = BOX
			detail = "trough"
			file = "progressbar/trough.png"
			border = {4, 4, 4, 4}
			stretch = TRUE
			orientation	= VERTICAL
		}
		
		image
		{
			function = SHADOW
			shadow = IN
			file = "progressbar/trough-tree.png"
			border = {1, 1, 1, 1}
			stretch	= TRUE
		}
		
### Progress ###
		image
		{
			function = BOX
			detail = "bar"
			file = "progressbar/progressbar-horiz.png"
			border = {0, 0, 0, 0}
			stretch	= TRUE
			orientation	= HORIZONTAL
		}

		image
		{
			function = BOX
			detail = "bar"
			file = "progressbar/progressbar-vert.png"
			border = {4, 4, 4, 4}
			stretch = TRUE
			orientation	= VERTICAL
		}
		
		image
		{
			function = BOX
			state = SELECTED
			border = {0, 0, 0, 0}
			file = "progressbar/progressbar-horiz.png"
			stretch	= TRUE
		}
	}
}

class "GtkProgressBar*" style "progressbar"
class "GtkTreeView*" style "progressbar"

