########################################################################
# Statusbar
########################################################################

style "statusbar" {

$bg[NORMAL] = "#c0c0c0"
#fg[NORMAL] = "#c0c0c0"

#GtkStatusBar::shadow-type = GTK_SHADOW_NONE

}

widget_class "*<GtkStatusbar>*" style "statusbar"

