#################### MENUBAR ###################


style "menubar"		
{
#font_name = "Segoe UI Bold 9"
#font_name = "Sans 8"
  fg[NORMAL] = "#fff"
  text[NORMAL] = "#fff"
  fg[PRELIGHT] = "#fff"
  fg[ACTIVE] = "#fff"
#  fg[INSENSITIVE] = "#FFFFFF0"
#  text[PRELIGHT] = "#FFFFFF0"

xthickness			= 2
ythickness			= 1
	engine "pixmap"
	{
		image
		{
			function	= BOX
			state = NORMAL
			file		= "Menu-Menubar/menubar-blue.png"
			border	= { 2, 2, 2, 2 }
			stretch	= TRUE
    		}

		image
		{
			function	= BOX
			state = ACTIVE
			file		=  "Menu-Menubar/menubar-blue.png"
			border	= { 2, 2, 2, 2 }
			stretch	= TRUE
    		}

		image
		{
			function	= BOX
			state = INSENSITIVE
			file		="Menu-Menubar/menubar-blue.png"
			border	= { 2, 2, 2, 2 }
			stretch	= TRUE
    		}

  image
    {
      function			= BOX
      recolorable		= TRUE
      state 			= PRELIGHT
      file				= "Menu-Menubar/menubar-item.png"
      border			= { 2, 2, 2, 2 }
      stretch			= TRUE
    }

 	}
}

