########################################################################
# Scale
########################################################################

style "scale"
{
	GtkRange::slider_width = 21
	
	engine "pixmap"
	{
### Trough ###
		image
		{
			function = BOX
			detail = "trough"
			file = "scale/trough-horiz.png"
			border = {19, 19, 5, 6}
			stretch	= TRUE
#			overlay_file = "scale/trough-vert-mid.png"
#	     	overlay_stretch = TRUE
			orientation	= HORIZONTAL
		}

		image
		{
			function = BOX
			detail = "trough"
			file = "scale/trough-vert.png"
			border = {5, 6, 19, 19}
			stretch = TRUE
#			overlay_file = "scale/trough-horiz-mid.png"
#	     	overlay_stretch = FALSE
			orientation	= VERTICAL
		}

### Slider ###
		image
		{
			function = SLIDER
			overlay_file = "scale/slider-horiz.png"
			overlay_stretch	= FALSE
			orientation	= HORIZONTAL
		}

		image
		{
			function = SLIDER
			overlay_file = "scale/slider-vert.png"
			overlay_stretch	= FALSE
			orientation	= VERTICAL
		}
		
### Focus ###
		image 
		{
			function = FOCUS
			file = "null.png"
		} 
	}
}

class "GtkRange*" style "scale"

